
{% extends 'User/Header.html'%}
{% load static %}
{% block content  %}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booked Product</title>
    
</head>
<body>
    <table align="center" border="1" cellspacing="1" cellpadding="10" style="margin-top: 150px;">
        <tr>
            <td>Product name</td>
            <td>Product Image</td>
            <td>Product Rate</td>
            <td>Booking Quantity </td>
            <td>Total Amount</td>
            <td>Booked Date</td>
            <td> Status</td>
        </tr>
        {% for i in PDATA %}
        <tr>
            
            <td>{{i.product.product_name}}</td>
            <td><img src="{{i.product.product_image.url}}" alt="img" width="100" height="100"></td>
            <td>{{i.product.product_rate}}</td>
            <td>{{i.booking_quantity}}</td>
            <td>{{i.total_amount}}</td>
            <td>{{i.booking_date}}</td>
            <td>{% if i.booking_status == 1 %}
                Order Accepted
                {% elif  i.booking_status == 2 %}
                Order Rejected
                {% else %}
                pending
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>

<a href="{% url 'wuser:Userhome' %}">Home</a>
</body>
</html>
{% endblock content %}