
{% extends 'Shop/Header.html'%}
{% load static %}
{% block content  %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
</head>
<body>
    <form name="ChangePassword" method="POST">
    {% csrf_token %}
    <table align="center" style="margin-top: 150px;"  border="1" cellpadding="5" cellspacing="5">
        <tr> 
            <td>Current Password</td>
            <td><input type="password" name="txtcurrentpass" id="txtcurrentpass" autocomplete="off" required="required" pattern="[0-9a-zA-Z@#$%]{8-15}" title="@#$% are only allowed in password"></td>
        </tr>
        <tr>
            <td>New Password</td>
            <td><input type="password" name="txtnewpass" id="txtnewpass" autocomplete="off" required="required" pattern="[0-9a-zA-Z@#$%]{8-15}" title="@#$% are only allowed in password"></td>
        </tr>
        <tr>
            <td>Confirm Password</td>
            <td><input type="password" name="txtcomnfirmpass" id="txtcomnfirmpass" autocomplete="off" required="required" pattern="[0-9a-zA-Z@#$%]{8-15}" title="@#$% are only allowed in password"></td>
        </tr>
        <tr><td><input type="submit" name="btnupdate" id="btnupdate" value="CHANGE"/></td></tr>

    </table>
</form>
    <br><br>
    <!-- <a href="{% url 'wshop:Myprofile' %}">My Profile</a> -->
</body>
</html>

{% if msg %}
<script>
    alert("{{msg}}");
</script>
{% endif %}


{% endblock content %}